.board {
  margin-top: 15px;
}

.row {
  display: block;
  border: 1px solid #D0CACD;
  margin: 0 auto 3px auto;
  max-width: 370px;
}

.colors .colorHolder, .peg, .correctPeg {
  width: 40px;
  height: 40px;
  border-radius: 21px;
  display: inline-block;
  border: 1px solid #777;
  margin-right: 8px;
  border-radius: 21px;
  cursor: pointer;
  background-color: #F0EAED;
  vertical-align: middle;
  margin-bottom: 7px;
}

.rules p {
  text-align: justify;
  text-align-last: center;
  margin: 5px 1em;
  font-size: 0.92em;
  color: #666;
}

.rules h3 {
  text-align: center;
  margin: 5px 1em;
  font-style: normal;
  cursor: pointer;
}

.rules h1 {
  text-align: center;
  margin: 5px 1em;
  font-style: normal;
}

.rules {
  width: 362px;
  margin: 0.33em auto 0.8em auto;
}

.chack {
  display: inline-block;
  color: #CCC0C6;
  cursor: pointer;
  padding: 16px 0;
}

.colors .red, .endGame .red {
  background-color: red;
}

.colors .green, .endGame .green {
  background-color: green;
}

.colors .blue, .endGame .blue {
  background-color: blue;
}

.colors .yellow, .endGame .yellow {
  background-color: yellow;
}

.colors .purple, .endGame .purple {
  background-color: purple;
}

.colors {
  text-align: center;
}

.colors .active {
  border: 2px solid black;
}

.board .row.active {
  border: 2px solid #BBAAAA;
  background-color: #FFF9FC;
}

body {
  background-color: #E2DADD;
}

.squere {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
  margin-left: 5px;
}

.squers {
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
}

.squere.\32 {
  background-color: green;
}

.squere.\31 {
  background-color: yellow;
}

.endGame {
  text-align: center;
}